* {
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

lighter {
    font-weight: lighter;
    color: #AAAAAA;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

nav {
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav img {
    width: 75px;    
}

nav ion-icon {
    width: 42px;
    height: 31px;
}

main {
    background-color: #F3F3F3;
    width: 375px;
    height: 587px;
    padding-top: 102px;
    overflow-y: auto;
}

main::-webkit-scrollbar {
    display: none;
}

footer {
    width: 375px;
    height: 80px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 1;
}

footer ion-icon {
    width: 26px;
    height: 26px;
    margin-left: 17px;
}

footer ion-icon:hover {
    cursor: pointer;
}

#txtmessage {
    width: 100%;
    height: 100%;
    font-style: italic;
    font-size: 18px;
    border: 0;    
}

.message {
    padding: 9px;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 375px;
    font-size: 14px;
}

.status-message {
    background-color: #DCDCDC;
}

.normal-message {
    background-color: #FFFFFF;
}

.private-message {
    background-color: #FFDEDE;
}